# Chrome extension files
chrome/key.pem
chrome/data
chrome/*.crx
chrome/manifest.json


# Firefox extension files
firefox/data
firefox/*.xpi
firefox/package.json


# Source
build/
node_modules/
assets/*.png
assets/*.gif
npm-debug.log

# VirtualEnv
env/
